<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('build/main.css') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    {% if not isUnauthorized %}
    <body>
        <nav class="nav-container">
            <div>
                <h1>Arte Tech</h1>
                <a class="{{ app.request.get('_route') == 'home' ? 'active' }}" href="{{ path('home') }}">Home</a>
                {% if userStatus == 'admin'%}
                <a class="{{ app.request.get('_route') == 'users' ? 'active' }}" href="{{ path('users') }}">Gebruikers</a>
                <a class="{{ app.request.get('_route') == 'companies' ? 'active' }}" href="{{ path('companies') }}">Klanten</a>
                {% endif %}
                <a class="{{ app.request.get('_route') == 'periods' ? 'active' }}" href="{{ path('periods') }}">Opdrachten</a>
                <a class="{{ app.request.get('_route') == 'tasks' ? 'active' }}" href="{{ path('tasks') }}">Voltooide Taken</a>
            </div>
            <a class="button-add" href="{{ path('app_logout') }}">Logout</a>
        </nav>

        <div class="safe-container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
    {% else %}
        <body>
            <div class="login_header">
                <h1>ArteTech Login</h1>
            </div>
            <div class="unAuth-container">
                <h1>Unauthorized</h1>
                <p><a href="{{ path('app_logout') }}">Logout</a> and use an account with the authority to view this page.</p>
            </div>
        </body>
    {% endif %}
</html>
