{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="heading_container">
        <h1>{{ title }}</h1>
        <a class="button-add" href="{{ path('addUser') }}">Gebruiker Toevoegen</a>
    </div>

    <div class="content-container">
    {% for status in statuses %}
        <div class="card">
            <h2>{{ status.status|capitalize }}s</h2>
            {% for user in status.users %}
                <p>{{ user.firstName }} {{ user.lastName }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

{% endblock %}




