{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <div class="table-container">
        <div class="card">
            <div class="heading_container">
                <h2>Taak Details</h2>
                {% if userStatus == 'admin'%}
                <a class="button-add" href="{{ path('edit_task', {id: task.id}) }}">Info Aanpassen</a>
                {% endif %}
            </div>
            <div>
                <h3>Datum</h3>
                <p>{{ task.date|date("D d/m/Y") }}</p>

                <h3>Uren</h3>
                <p>{{ task.startTime|date("H:i") }} - {{ task.endTime|date("H:i") }}</p>

                <h3>Werknemer</h3>
                <p>{{ task.employee.firstname}} {{ task.employee.lastname}}</p>

                <h3>Klant</h3>
                <p>{{ task.period.company.name}}</p>

                <h3>Opdracht</h3>
                <p>{{ task.period.name}}</p>

                <h3>Uitgevoerde Activiteiten</h3>
                <p>{{ task.activitiesDone}}</p>

                <h3>Gebruikte Materialen</h3>
                {% if task.materialsUsed is empty %}
                    <p>Geen</p>
                {% endif %}
                <p>{{ task.materialsUsed}}</p>

                <h3>Lengte Pauze</h3>
                <p>{{ task.pauseLength.time|date("H:i") }}</p>

                <h3>Totale afstand afgelegd</h3>
                <p>{{ task.kmTraveled}} km</p>
            </div>
        </div>
    </div>

{% endblock %}
