{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <ul>
        <li><code><a href="#">#</a></code></li>
    </ul>

    <div class="content-container">
        <div class="card">
            <div class="heading_container">
                <h2>Opdracht Details</h2>
                <a class="button-add" href="{{ path('edit_period', {id: period.id}) }}">Info Aanpassen</a>
            </div>

            <p> <b>Opdracht:</b> {{ period.name|capitalize }}</p>

            <p> <b>Looptijd:</b> {{ period.startDate|date("d/m/Y") }} - {{ period.endDate|date("d/m/Y") }}</p>

            <p> <b>Klant:</b> {{ period.company.name}}</p>

            <p> <b>Uurloon:</b> {{ period.hourlyRate.price}}</p>

            <p> <b>Transport Vergoeding:</b> {{ period.transportRate.price}}</p>

            <p> <b>Totaal aantal uren gewerkt:</b> {{ sideInfo.totalHours }}</p>

            <p> <b>Totaal aantal km te vergoeden:</b> {{ sideInfo.totalKm }} km</p>

            <p> <b>Totale Prijs (op dit moment):</b> €{{ sideInfo.totalPrice }}</p>
        </div>
        <div class="table-container">
            <div class="card">
                <table style="border: 1px solid black; border-collapse: collapse">
                    <tr>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Datum</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Uren</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Werknemer</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Klant</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Opdracht</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Activiteiten</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Transport</th>
                        <th style="border: 1px solid black; border-collapse: collapse; padding: 6px">Details</th>
                    </tr>

                    {% for task in period.tasks %}
                        <tr>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px">{{ task.date|date("D d/m/Y") }}</td>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px">{{ task.startTime|date("H:i") }} - {{ task.endTime|date("H:i") }}</td>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px">{{ task.employee.firstname}} {{ task.employee.lastname}}</td>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px">{{ task.period.company.name}}</td>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px">{{ task.period.name}}</td>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px">{{ task.activitiesDone}}</td>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px">{{ task.kmTraveled}}</td>
                            <td style="border: 1px solid black; border-collapse: collapse; padding: 6px"><a href="{{ path('task_detail', {id: task.id}) }}">Meer...</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
